:host {
	background-color: var(--black-color);
	border: 0.35vh solid var(--primary-color);
	bottom: 0;
	box-sizing: border-box;
	height: 41.47vh;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
	transform-origin: bottom center;
	width: 120vh;

	&.minimized {
		transform: translateX(-50%) scale(0);
	}

	.address {
		align-items: center;
		display: flex;
		height: 8.89vh;
		justify-content: center;
		text-align: center;
		width: 100%;

		.selected-glyph {
			align-items: center;
			border: 0.24vh solid var(--gray-color);
			color: var(--white-color);
			display: flex;
			font-family: var(--glyphs-font);
			font-size: 3rem;
			height: 1.25em;
			justify-content: space-between;
			margin: 0.6vh;
			padding-right: 0.6vh;
			position: relative;
			width: 1.75em;

			&.inactive {
				opacity: 0.25;
			}

			.glyph {
				order: 2;
			}

			.glyph-number {
				align-self: flex-end;
				background-color: var(--gray-color);
				color: var(--white-color);
				font-family: var(--interface-font);
				font-size: 1.25rem;
				order: 1;
				text-align: center;
				width: 1em;
			}

			&.selected {
				border-color: var(--red-color);

				.glyph-number {
					background-color: var(--red-color);
				}
			}
		}

		&.valid {
			.selected-glyph.selected {
				border-color: var(--green-color);

				.glyph-number {
					background-color: var(--green-color);
				}
			}
		}
	}

	.corner {
		display: flex;
		position: absolute;

		&.left {
			bottom: 0;
			left: 0;
		}

		&.right {
			bottom: 0;
			right: 0;
		}

		.key {
			font-variant: small-caps;
			padding: 0.6vh;
		}
	}

	.key {
		color: var(--white-color);
		cursor: pointer;
		display: inline-block;
		font-family: var(--interface-font);
		font-size: 1rem;
		margin: 1.78vh;

		&.disabled {
			cursor: default;
			opacity: 0.5;
			pointer-events: none;
		}

		&:hover {
			background: radial-gradient(at center, lightblue 0%, transparent 75%);
		}

		&.close {
			display: block;
			position: absolute;
			right: -1.2vh;
			top: -1.2vh;
		}

		&.glyph {
			font-family: var(--glyphs-font);
			font-size: 2.5rem;
			transition: text-shadow 1s ease-in-out, transform 1s ease-in-out;
			width: 1.5em;

			&.selected {
				background: radial-gradient(at center, red 0%, transparent 75%);
			}

			&:hover {
				text-shadow: 1px 4px 0 gray;
				transform: scale(2);

				tooltip {
					left: 0;
					opacity: 1;
					text-shadow: none;
					top: -50%;
					width: 200%;
				}
			}

			.glyph-name {
				font-variant: small-caps;
			}
		}
	}
}
