:host {
	margin-bottom: 1.2vh;
}

.chevron-box {
	align-items: flex-start;
	display: flex;
	height: 10vh;
	justify-content: right;
	width: 21vh;

	&.chevron-8 {
		opacity: 0;
	}

	&.locked {
		.chevron-symbol-box {
			border-color: var(--red-color);
		}
	}
}

.chevron-number {
	font-family: var(--interface-font);
	font-size: 2rem;
	color: var(--white-color);
	line-height: 0.75em;
	margin-right: 0.47vh;
	opacity: 0;
}

.chevron-symbol-box {
	align-items: center;
	box-sizing: border-box;
	width: 75%;
	height: 100%;
	border-color: var(--primary-color);
	border-width: 0.35vh;
	border-style: solid;
	display: flex;
	justify-content: center;
	position: relative;
	background-color: #000;

	.sg1-symbol {
		color: var(--white-color);
		font-family: var(--glyphs-font);
		font-size: 5.125rem;
		margin-top: 1.2vh;
		transform-origin: center;
		visibility: hidden;

		&.active {
			visibility: visible;
		}

		&.failed {
			color: var(--red-color);
		}
	}
}
