:host {
	height: 14.2587%;
	margin-bottom: 2px;
	width: 100%;
}

.chevron-box {
	align-items: flex-end;
	display: flex;
	height: 100%;
	justify-content: right;
	width: 100%;

	&.chevron-8 {
		opacity: 0;
	}

	&.locked {
		.chevron-symbol-box {
			border-color: var(--red-color);
		}
	}
}

.chevron-number {
	font-family: var(--interface-font);
	font-size: 1.5rem;
	color: var(--white-color);
	vertical-align: bottom;
}

.chevron-symbol-box {
	align-items: center;
	box-sizing: border-box;
	width: 75%;
	height: 100%;
	border-color: var(--primary-color);
	border-width: 3px;
	border-style: solid;
	border-top-left-radius: 20px;
	display: flex;
	justify-content: center;
	position: relative;

	.sg1-symbol {
		color: var(--white-color);
		font-family: var(--glyphs-font);
		font-size: 3.125rem;
		margin-top: 10px;
		text-shadow: 1px 4px 0 gray;
		transform-origin: center;
		visibility: hidden;

		&.active {
			visibility: visible;
		}

		&.failed {
			color: var(--red-color);
		}
	}
}
