@keyframes eh-idle {
	0%,
	70% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

:host {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.idle-flasher {
	animation: 0.5s ease-in 0s infinite alternate-reverse eh-idle;
	background: radial-gradient(circle at center, white 0%, #7f2c19 20%, black 40%, rgba(0, 0, 0, 0) 60%);
	height: 17.77vh;
	transform-origin: center;
	width: 17.77vh;
}
