<div *ngFor="let set of addressSets" class="set">
	<div class="details">
		<div class="name">{{ set.name }}</div>
		<div class="count">{{ set.enabled ? "Active" : "Disabled" }}: {{ set.destinations.length }}</div>
	</div>
	<div class="controls">
		<sg-button text="UP"></sg-button>
		<sg-button text="DN"></sg-button>
		<sg-button text="TGL"></sg-button>
		<sg-button text="DEL" (click)="onDeleteClick(set.name)"></sg-button>
	</div>
</div>
<div class="add-field">
	<sg-segment-display [size]="10" [text]="newSet" tabindex="0" (keydown)="onNewKeydown($event)"></sg-segment-display>
	<sg-button text="NEW" (click)="onNewClick()"></sg-button>
</div>
