:host {
	background: radial-gradient(circle at center, red 0%, maroon 20%, black 40%, rgba(0, 0, 0, 0) 60%);
	height: 150px;
	transform: translate(-50%, -50%) scale(0);
	transform-origin: center;
	width: 150px;

	&.active {
		background: radial-gradient(
			circle at center,
			rgba(0, 119, 255, 0.8) 0%,
			rgba(0, 60, 255, 0.5) 40%,
			rgba(0, 0, 0, 0) 60%
		);
	}

	&.activating {
		background: radial-gradient(
			circle at center,
			rgb(255, 255, 255) 0%,
			rgb(128, 158, 255) 40%,
			rgba(0, 0, 0, 0) 60%
		);
	}
}
