:host[tabindex] {
	cursor: text;
}

:host:focus {
	outline: none;

	.char-box.cursor {
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		animation-name: cursorflash;
		animation-timing-function: step-start;
	}
}

.char-box {
	color: var(--primary-color);
	display: inline-block;
	font-family: var(--interface-font);
	font-size: 1em;
	height: 1.3em;
	margin: 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
	width: 1.3em;

	&::before {
		border-left: 0.12vh solid var(--primary-color);
		content: "";
		height: 33%;
		left: 0;
		position: absolute;
		width: 100%;
	}

	&:first-of-type::before {
		height: 66%;
	}

	&:last-of-type::after {
		border-right: 0.12vh solid var(--primary-color);
		content: "";
		height: 66%;
		left: 0;
		position: absolute;
		width: 100%;
	}

	&.top {
		border-top: 0.12vh solid var(--primary-color);

		&::before,
		&::after {
			top: 0;
		}
	}

	&.bottom {
		border-bottom: 0.12vh solid var(--primary-color);

		&::before,
		&::after {
			bottom: 0;
		}
	}

	&.both {
		border-bottom: 0.12vh solid var(--primary-color);
		border-top: 0.12vh solid var(--primary-color);
	}

	.char {
		display: inline-block;
		line-height: 65%;
		transform: scaleY(1.3);
	}
}
