:host[tabindex] {
	cursor: text;
}

:host:focus {
	outline: none;

	.char-box.cursor {
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		animation-name: cursorflash;
		animation-timing-function: step-start;
	}
}

.char-box {
	border-left: 0.12vh solid var(--primary-color);
	color: var(--white-color);
	display: inline-block;
	font-family: var(--interface-font);
	font-size: 1em;
	height: 1.5em;
	margin: 0;
	text-align: center;
	vertical-align: top;
	width: 1.2em;

	&:last-of-type {
		border-right: 0.12vh solid var(--primary-color);
	}

	&.top {
		border-top: 0.12vh solid var(--primary-color);
	}

	&.bottom {
		border-bottom: 0.12vh solid var(--primary-color);
	}

	&.both {
		border-bottom: 0.12vh solid var(--primary-color);
		border-top: 0.12vh solid var(--primary-color);
	}
}
