@import "variables";

:host {
	background-color: $black;
	border: 3px solid $primary;
	bottom: 0;
	box-sizing: border-box;
	height: 350px;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
	transform-origin: bottom center;
	width: 1024px;

	&.minimized {
		transform: translateX(-50%) scale(0);
	}

	.address {
		align-items: center;
		display: flex;
		height: 75px;
		justify-content: center;
		text-align: center;
		width: 100%;

		.selected-glyph {
			align-items: center;
			border: 2px solid $gray;
			color: $white;
			display: flex;
			font-family: $glyphs-font;
			font-size: 3rem;
			height: 1.25em;
			justify-content: space-between;
			margin: 5px;
			padding-right: 5px;
			position: relative;
			width: 1.75em;

			&.inactive {
				opacity: 0.25;
			}

			.glyph {
				order: 2;
			}

			.glyph-number {
				align-self: flex-end;
				background-color: $gray;
				color: $white;
				font-family: $interface-font;
				font-size: 1.25rem;
				order: 1;
				text-align: center;
				width: 1em;
			}

			&.selected {
				border-color: $red;

				.glyph-number {
					background-color: $red;
				}
			}
		}

		&.valid {
			.selected-glyph.selected {
				border-color: $green;

				.glyph-number {
					background-color: $green;
				}
			}
		}
	}

	.corner {
		display: flex;
		position: absolute;

		&.left {
			bottom: 0;
			left: 0;
		}

		&.right {
			bottom: 0;
			right: 0;
		}

		.key {
			font-variant: small-caps;
			padding: 5px;
		}
	}

	.key {
		color: $white;
		cursor: pointer;
		display: inline-block;
		font-family: $interface-font;
		font-size: 1rem;
		margin: 15px;

		&.disabled {
			cursor: default;
			opacity: 0.5;
			pointer-events: none;
		}

		&:hover {
			background: radial-gradient(at center, lightblue 0%, transparent 75%);
		}

		&.close {
			display: block;
			position: absolute;
			right: -10px;
			top: -10px;
		}

		&.glyph {
			font-family: $glyphs-font;
			font-size: 2.5rem;
			transition:  text-shadow 1s ease-in-out, transform 1s ease-in-out;
			width: 1.5em;

			&.selected {
				background: radial-gradient(at center, red 0%, transparent 75%);
			}

			&:hover {
				text-shadow: 1px 4px 0 gray;
				transform: scale(2);

				tooltip {
					left: 0;
					opacity: 1;
					text-shadow: none;
					top: -50%;
					width: 200%;
				}
			}

			.glyph-name {
				font-variant: small-caps;
			}
		}
	}
}
