@import "variables";

:host {
	background-color: $black;
	border: 3px solid $primary;
	bottom: 0;
	height: 350px;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
	transform-origin: bottom center;
	width: 900px;

	&.minimized {
		transform: translateX(-50%) scale(0);
	}

	.address {
		text-align: center;
		height: 75px;
		width: 100%;

		.selected-glyph {
			border: 2px solid $red;
			color: $white;
			display: inline-block;
			font-family: $glyphs-font;
			font-size: 3rem;
			height: 1.25em;
			margin: 5px;
			position: relative;
			text-align: right;
			width: 1.75em;

			.glyph-number {
				background-color: $red;
				color: $white;
				bottom: 0;
				font-family: sans-serif;
				font-size: 1.25rem;
				left: 0;
				position: absolute;
				text-align: center;
				width: 1em;
			}
		}
	}

	.corner {
		display: flex;
		position: absolute;

		&.left {
			bottom: 0;
			left: 0;
		}

		&.right {
			bottom: 0;
			right: 0;
		}

		.key {
			font-variant: small-caps;
			padding: 5px;
		}
	}

	.key {
		border: 1px solid $primary;
		color: $white;
		cursor: pointer;
		display: inline-block;
		font-family: $interface-font;
		font-size: 1rem;
		margin: 15px;

		&.disabled {
			cursor: default;
			opacity: 0.5;
			pointer-events: none;
		}

		&:hover {
			background: radial-gradient(at center, lightblue 0%, transparent 100%);
		}

		&.close {
			display: block;
			position: absolute;
			right: -10px;
			top: -10px;
		}

		&.glyph {
			font-family: $glyphs-font;
			font-size: 2rem;
			width: 1.5em;

			&.selected {
				background: radial-gradient(at center, red 0%, transparent 100%);
			}

			&:hover tooltip {
				opacity: 1;
			}

			.glyph-name {
				font-variant: small-caps;
			}
		}
	}
}
