:host {
	display: block;
	pointer-events: none;
}

:host:focus {
	outline: none;

	&::after {
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		animation-name: cursorflash;
		animation-timing-function: step-start;
		content: "";
		display: inline-block;
		height: 1em;
		position: absolute;
		width: 0.6em;
	}
}

:host-context(.editable) {
	cursor: text;
	pointer-events: all;
}

.label {
	font-variant: small-caps;
}

:host-context(.edit-mode) {
	text-transform: none !important;
}
