:host {
	align-items: center;
	background-color: var(--black-color);
	border: 0.35vh solid var(--primary-color);
	border-radius: 0.6vh;
	display: flex;
	font-family: var(--interface-font);
	font-variant: small-caps;
	height: 35.5vh;
	justify-content: center;
	text-transform: uppercase;
	width: 77vh;
}

.container {
	align-items: center;
	border: 0.12vh solid var(--secondary-color);
	border-radius: 0.6vh;
	display: flex;
	flex-direction: column;
	height: 95%;
	justify-content: center;
	width: 95%;
}

.title {
	color: var(--primary-color);
	font-size: 1rem;
	text-align: center;
}

.text {
	color: var(--white-color);
	font-size: 2.125rem;
	text-align: center;

	&.critical {
		color: var(--darkred-color);
	}
}
