:host {
	align-items: center;
	background-color: var(--black-color);
	border: 3px solid var(--primary-color);
	border-radius: 5px;
	display: flex;
	font-family: var(--interface-font);
	font-variant: small-caps;
	height: 300px;
	justify-content: center;
	text-transform: uppercase;
	width: 650px;
}

.container {
	align-items: center;
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 95%;
	justify-content: center;
	width: 95%;
}

.title {
	color: var(--primary-color);
	font-size: 1rem;
	text-align: center;
}

.text {
	color: var(--white-color);
	font-size: 2.125rem;
	text-align: center;

	&.critical {
		color: var(--darkred-color);
	}
}
