@import "variables";

.status-box {
	align-items: center;
	border: 3px solid $primary;
	border-radius: 5px;
	display: flex;
	height: 100px;
	justify-content: center;

	.status {
		color: $white;
		font-family: $interface-font;
		font-size: 60pt;
		opacity: 0;

		&.red {
			color: $red;
		}
	}
}
