$glyphs-font: "sg1-glyphs";
$interface-font: "squarish-sans";

$black: #000000;
$darkred: #800000;
$gray: #808080;
$green: green;
$primary: #3A7ABD;
$secondary: #0E3D68;
$red: #ff0000;
$white: #ffffff;
$highlight: #add8e6;
