:host {
	color: var(--white-color);
	display: block;
	font-family: var(--interface-font);
	font-size: 0.75rem;
	height: 100%;
	overflow-y: scroll;
	pointer-events: none;
	position: relative;
	width: 100%;
	word-wrap: break-word;

	&::-webkit-scrollbar {
		display: none;
	}
}

.first {
	opacity: 0;
}
