:host {
	border-color: var(--primary-color);
	border-right: 0.24vh solid var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 10vh;
	width: 10vh;
}

.glyph {
	align-items: center;
	display: flex;
	flex-grow: 1;
	font-family: var(--glyphs-font);
	font-size: 5.9vh;
	justify-content: center;
	padding: 0.59vh;
}

.name {
	border-color: inherit;
	border-top-style: solid;
	border-top-width: 0.24vh;
	display: flex;
	height: 1.5em;
	font-size: 0.75em;
	justify-content: center;
	padding: 0.24vh;
}
