:host {
	border-color: var(--primary-color);
	border-right: 2px solid var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 110px;
	width: 100px;
}

.glyph {
	align-items: center;
	display: flex;
	flex-grow: 1;
	font-family: var(--glyphs-font);
	font-size: 50px;
	justify-content: center;
	padding: 5px;
}

.name {
	border-color: inherit;
	border-top-style: solid;
	border-top-width: 2px;
	display: flex;
	height: 1.5em;
	justify-content: center;
	padding: 2px;
}
