@import "variables";

.chevron-box {
	&.chevron-8 {
		opacity: 0;
	}

	&.locked {
		.chevron-number {
			opacity: 1;
		}

		.chevron-symbol-box {
			border-color: $red;
		}
	}
}

.chevron-number {
	display: inline-block;
	font-family: $interface-font;
	font-size: 36px;
	color: $white;
	vertical-align: bottom;
	opacity: 0;
}

.chevron-symbol-box {
	display: inline-block;
	width: 130px;
	height: 95px;
	border-color: $primary;
	border-width: 1px;
	border-style: solid;
	border-top-left-radius: 20px;
	position: relative;

	.sg1-symbol {
		color: $white;
		font-family: $glyphs-font;
		font-size: 90px;
		margin-top: 10px;
		position: absolute;
		text-align: center;
		transform-origin: center;
		visibility: hidden;
		width: 100%;

		&.active {
			visibility: visible;
		}
	}
}
