@keyframes flash-normal {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

.status-box {
	align-items: center;
	border: 3px solid var(--primary-color);
	border-radius: 5px;
	display: flex;
	height: 100px;
	justify-content: center;

	.status {
		animation: 0.5s linear 0s infinite alternate flash-normal;
		color: var(--white-color);
		font-family: var(--interface-font);
		font-size: 3.75rem;
		opacity: 0;

		&.red {
			color: var(--red-color);
		}
	}
}
