.status-box {
	align-items: center;
	border: 3px solid var(--primary-color);
	border-radius: 5px;
	display: flex;
	height: 100px;
	justify-content: center;

	.status {
		color: var(--white-color);
		font-family: var(--interface-font);
		font-size: 3.75rem;
		opacity: 0;

		&.red {
			color: var(--red-color);
		}
	}
}
