<div class="lst-code">
	<div>LST Code #1</div>
	<div>LST Code #2</div>
</div>
<div class="status-box">
	<svg
		class="background"
		viewBox="0 0 547 92"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
	>
		<line x1="0" y1="0" x2="0" y2="23" />
		<line x1="0" y1="69" x2="0" y2="92" />
		<line x1="547" y1="0" x2="547" y2="23" />
		<line x1="547" y1="69" x2="547" y2="92" />
		<line x1="0" y1="0" x2="547" y2="0" />
		<line x1="0" y1="92" x2="547" y2="92" />
		<line
			*ngFor="let notch of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]"
			[attr.x1]="36.5 * notch"
			y1="0"
			[attr.x2]="36.5 * notch"
			y2="8"
		/>
		<line
			*ngFor="let notch of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]"
			[attr.x1]="36.5 * notch"
			y1="84"
			[attr.x2]="36.5 * notch"
			y2="92"
		/>
	</svg>
	<div
		#statusText
		[ngClass]="{ status: true, red: useRedStyle, flashOnce: useFlashOnce, flashRepeat: useFlashRepeat }"
		[ngStyle]="{ 'font-size': fontSize }"
	>
		{{ status }}
	</div>
</div>
