@keyframes flash-once {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.8;
	}
	75% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}

@keyframes flash-repeat {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

.status-box {
	align-items: center;
	border: 0.35vh solid var(--primary-color);
	border-radius: 0.6vh;
	display: flex;
	height: 11.84vh;
	justify-content: center;

	.status {
		color: var(--white-color);
		font-family: var(--interface-font);
		font-size: 5rem;
		opacity: 0;

		&.red {
			color: var(--red-color);
		}

		&.flashOnce {
			animation: 4s linear 0s flash-once;
		}

		&.flashRepeat {
			animation: 0.5s linear 0s infinite alternate flash-repeat;
		}
	}
}
