<div class="column-layout">
  <div class="left column"></div>
  <div class="center column">
    <gate [status]="status"></gate>
    <dialing-status [status]="status"></dialing-status>
  </div>
  <div class="right column">
    <div class="chevron-boxes" (click)="openKeyboard()">
      <chevron-box
        *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8]"
        [glyph]="glyphs[number - 1]"
        [number]="number"
        [chevronEngaged]="chevronEngaged"
        [gatePosition]="gatePosition"
        (engageSymbol)="engageSymbolHandler($event)"
      >
      </chevron-box>
    </div>
  </div>
</div>
<keyboard class="minimized" (dialAddress)="keyboardStartDialingHandler($event)" (close)="keyboardCloseHandler($event)" (shutdownGate)="keyboardShutdownHandler($event)"></keyboard>
