@import "variables";

:host {
	align-items: center;
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.column-layout {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.column {
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: space-evenly;

	&.left {
		align-items: flex-start;
	}

	&.center {
		align-items: center;
	}

	&.right {
		align-items: flex-end;
	}
}

.chevron-boxes {
	max-height: 750px;
}

dialing-status {
	width: 100%;
}

.label {
	color: $white;
	font-family: $interface-font;
	font-size: 12pt;
	font-variant: small-caps;
}

.footer {
	align-items: flex-end;
	display: flex;
	justify-content: space-evenly;
	width: 100%;

	.action-menu {
		align-items: center;
		border: 1px solid $primary;
		color: $white;
		cursor: pointer;
		display: flex;
		font-family: $interface-font;
		font-size: 16pt;
		justify-content: center;
		padding: 5px;
		position: relative;
		text-align: center;
		width: 75px;

		menu {
			background-color: $black;
			bottom: 0;
			cursor: default;
			position: absolute;
			left: 50%;
			transform: scale(0);
			transform-origin: bottom left;
			width: 150px;
		}
	}
}

.info {
	display: flex;
	flex-direction: column;
}
