@import "variables";

:host {
	background-color: $secondary;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	display: flex;
	flex-direction: column;
	font-family: $interface-font;
	font-size: 0.75rem;
	padding: 10px;
}

.row {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.light {
	background-color: $black;
	border: 2px inset $secondary;
	height: 1em;

	&.fail {
		width: 3em;

		&.lit {
			background: radial-gradient(at center, $red 0%, transparent 100%), $black;
		}
	}

	&.success {
		width: 1.25em;

		&.lit {
			background: radial-gradient(at center, lightgreen 0%, transparent 100%), $black;
		}
	}

	&.bullet {
		height: 0.75em;
		width: 0.75em;
	}
}

.number {
	color: $white;
}

.ok {
	color: green;
	opacity: 0;

	&.visible {
		opacity: 1;
	}
}
