:host {
	border: 0.1vh solid var(--primary-color);
	display: flex;
	flex-direction: column;
	font-family: var(--interface-font);
	font-size: 1.25rem;
	padding: 1.2vh;
}

.row {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.light {
	background-color: var(--black-color);
	border: 0.12vh solid var(--secondary-color);
	height: 0.5em;

	&.fail {
		width: 2em;

		&.lit {
			background-color: var(--red-color);
		}
	}

	&.success {
		width: 2em;

		&.lit {
			background-color: lightgreen;
		}
	}

	&.bullet {
		height: 0.75em;
		width: 0.75em;
	}
}

.number {
	color: var(--secondary-color);
}

.ok {
	color: green;
	opacity: 0;

	&.visible {
		opacity: 1;
	}
}
