:host {
	background-color: var(--secondary-color);
	border-bottom-right-radius: 0.6vh;
	border-top-right-radius: 0.6vh;
	display: flex;
	flex-direction: column;
	font-family: var(--interface-font);
	font-size: 0.75rem;
	padding: 1.2vh;
}

.row {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.light {
	background-color: var(--black-color);
	border: 0.24vh inset var(--secondary-color);
	height: 1em;

	&.fail {
		width: 3em;

		&.lit {
			background: radial-gradient(at center, var(--red-color) 0%, transparent 100%), var(--black-color);
		}
	}

	&.success {
		width: 1.25em;

		&.lit {
			background: radial-gradient(at center, lightgreen 0%, transparent 100%), var(--black-color);
		}
	}

	&.bullet {
		height: 0.75em;
		width: 0.75em;
	}
}

.number {
	color: var(--white-color);
}

.ok {
	color: green;
	opacity: 0;

	&.visible {
		opacity: 1;
	}
}
