keyboard {
	.keyboard {
		background-color: black;
		border: 3px solid lightskyblue;
		bottom: 0;
		height: 450px;
		left: 50%;
		position: absolute;
		text-align: center;
		transform: translateX(-50%);
		width: 1200px;
		.address {
			text-align: center;
			height: 115px;
			width: 100%;
			.selected-glyph {
				border: 2px solid red;
				color: white;
				display: inline-block;
				font-family: "sg1-glyphs";
				font-size: 80px;
				height: 1em;
				margin: 15px;
				position: relative;
				width: 2em;
				.glyph-number {
					background-color: red;
					color: white;
					bottom: 0;
					font-family: sans-serif;
					font-size: 20px;
					left: 0;
					position: absolute;
					width: 1em;
				}
			}
		}
		.key {
			border: 1px solid lightskyblue;
			color: white;
			cursor: pointer;
			display: inline-block;
			margin: 15px;
			&:hover {
				background: radial-gradient(at center, lightblue 0%, transparent 100%);
			}
			&.backspace {
				bottom: 0;
				display: block;
				height: 50px;
				left: 0;
				font-size: 26px;
				font-family: sans-serif;
				position: absolute;
				width: 200px;
			}
			&.glyph {
				font-family: "sg1-glyphs";
				font-size: 50px;
				width: 1.5em;
				&.selected {
					background: radial-gradient(at center, red 0%, transparent 100%);
				}
			}
		}
	}
}
