:host {
	align-items: center;
	background-color: var(--black-color);
	border: 0.35vh solid var(--primary-color);
	border-radius: 0.6vh;
	cursor: default;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 2.37vh;
	z-index: 10;

	&.lower-left {
		position: absolute;
		right: 50%;
		top: 0;
		transform-origin: top right;
	}

	&.lower-right {
		left: 50%;
		position: absolute;
		top: 0;
		transform-origin: top left;
	}

	&.upper-left {
		bottom: 0;
		position: absolute;
		right: 50%;
		transform-origin: bottom right;
	}

	&.upper-right {
		bottom: 0;
		left: 50%;
		position: absolute;
		transform-origin: bottom left;
	}
}
