<svg class="chevron-paths" viewBox="0 0 1125 844">
	<path class="chevron-7" d="M 527 125 V 75 H 870 L 900 95 H 1060 L 1075 110 V 743 H 1062" />
	<path class="chevron-6" d="M 354 175 L 329 145 V 100 L 370 65 H 875 L 905 85 H 1065 L 1085 105 V 645 H 1062" />
	<path class="chevron-5" d="M 255 332 H 235 V 135 L 324 55 H 880 L 910 75 H 1070 L 1095 100 V 547 H 1062" />
	<path class="chevron-4" d="M 290 517 H 220 V 90 L 273 45 H 885 L 915 65 H 1075 L 1105 95 V 449 H 1062" />
	<path class="chevron-1" d="M 700 175 L 725 145 H 800 L 880 155 H 930" />
	<path class="chevron-2" d="M 799 332 H 819 L 880 253 H 930" />
	<path class="chevron-3" d="M 764 517 H 789 L 880 351 H 930" />
	<path class="chevron-7 lit" d="M 527 125 V 75 H 870 L 900 95 H 1060 L 1075 110 V 743 H 1062" />
	<path class="chevron-6 lit" d="M 354 175 L 329 145 V 100 L 370 65 H 875 L 905 85 H 1065 L 1085 105 V 645 H 1062" />
	<path class="chevron-5 lit" d="M 255 332 H 235 V 135 L 324 55 H 880 L 910 75 H 1070 L 1095 100 V 547 H 1062" />
	<path class="chevron-4 lit" d="M 290 517 H 220 V 90 L 273 45 H 885 L 915 65 H 1075 L 1105 95 V 449 H 1062" />
	<path class="chevron-1 lit" d="M 700 175 L 725 145 H 800 L 880 155 H 930" />
	<path class="chevron-2 lit" d="M 799 332 H 819 L 880 253 H 930" />
	<path class="chevron-3 lit" d="M 764 517 H 789 L 880 351 H 930" />
</svg>
<div class="header">
	<sg-menu-button class="action-menu" position="lower-right" text="MENU" [menuWidth]="17.77">
		<sg-button text="Address Book" [disabled]="!canOpenAddressBook" (sgClick)="goToAddressBook()"></sg-button>
		<sg-button text="Glyph Selection" (sgClick)="goToGlyphSelection()"></sg-button>
		<sg-button text="Shutdown" [disabled]="!canShutdown" (sgClick)="shutdown()"></sg-button>
		<sg-button text="Fullscreen On/Off" *ngIf="isElectronApp" (sgClick)="toggleFullscreen()"></sg-button>
		<sg-button text="Quit" *ngIf="isElectronApp" (sgClick)="quit()"></sg-button>
	</sg-menu-button>
	<div class="destination">
		<sg-segment-display
			[align]="'right'"
			[border]="'top'"
			[size]="10"
			[text]="(destination$ | async)?.name"
		></sg-segment-display>
		<div class="label">Destination</div>
	</div>
</div>
<div class="column-layout">
	<div class="left column">
		<div class="scrolling-bits-container">
			<sg-scrolling-bits [enabled]="this.status !== 'IDLE'" [length]="518"></sg-scrolling-bits>
		</div>
		<div class="scrolling-bits-container">
			<sg-scrolling-bits [enabled]="this.status !== 'IDLE'" [length]="518"></sg-scrolling-bits>
		</div>
		<div class="chevron-status-container"><sg-chevron-status></sg-chevron-status></div>
	</div>
	<div class="center column">
		<sg-gate></sg-gate>
		<sg-dialing-status></sg-dialing-status>
		<sg-alert-factory></sg-alert-factory>
	</div>
	<div class="right column">
		<div class="chevron-boxes">
			<sg-chevron-box
				*ngFor="let number of [1, 2, 3, 4, 5, 6, 7]"
				[gatePosition]="gatePosition$"
				[number]="number"
			></sg-chevron-box>
		</div>
		<sg-floating-chevron-box
			class="chevron-8"
			[gatePosition]="gatePosition$"
			[number]="8"
		></sg-floating-chevron-box>
		<sg-floating-chevron-box
			class="chevron-9"
			[gatePosition]="gatePosition$"
			[number]="9"
		></sg-floating-chevron-box>
	</div>
</div>
<div class="footer">
	<div class="auth-code">
		<div class="label">Auth Code</div>
		<sg-segment-display [text]="authCode" [border]="'bottom'"></sg-segment-display>
	</div>
	<div class="info">
		<div class="field">
			<span class="label">User:</span>
			{{ user }}
		</div>
		<div class="field">
			<span class="label">Status:</span>
			Active
		</div>
		<div class="field">
			<span class="label">Sys:</span>
			Nominal
		</div>
	</div>
</div>
<sg-keyboard class="minimized" (dialAddress)="keyboardStartDialingHandler($event)"></sg-keyboard>
