:host {
	align-items: center;
	aspect-ratio: 4 / 3;
	border: 0.6vh solid var(--primary-color);
	border-bottom-right-radius: 3vh;
	border-top-left-radius: 3vh;
	box-sizing: border-box;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-height: 100%;
	padding: 0.509vh;
	position: relative;
}

.chevron-paths {
	fill: transparent;
	height: 100%;
	left: 0;
	position: absolute;
	stroke: var(--primary-color);
	stroke-width: 2px;
	top: 0;
	width: 100%;
}

.header {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	width: 100%;

	.destination {
		align-items: flex-end;
		display: flex;
		flex-direction: column;

		.label {
			color: var(--secondary-color);
			font-family: var(--interface-font);
			letter-spacing: 4px;
			text-transform: uppercase;
		}
	}
}

.action-menu {
	sg-button {
		width: 80%;
	}
}

.column-layout {
	align-items: stretch;
	display: flex;
	flex-grow: 10;
	justify-content: space-between;
	margin: 0 1.18vh;
	position: relative;
	width: 100%;
}

.column {
	align-items: center;
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;

	&.left {
		align-items: flex-start;
		flex-grow: 1;
		justify-content: flex-end;
		padding: 0.6vh;
		width: 16vh;

		& > * {
			margin-top: 1.18vh;
		}

		.scrolling-bits-container {
			border: 0.3vh solid var(--primary-color);
			padding: 0.6vh;
			width: 75%;

			&:nth-of-type(1) {
				height: 21vh;
			}

			&:nth-of-type(2) {
				height: 15vh;
			}
		}

		.chevron-status-container {
			border: 0.3vh solid var(--primary-color);
			width: 100%;
		}
	}

	&.center {
		align-items: center;
		flex-grow: 1;
		justify-content: flex-start;
		position: relative;
		left: -2vh;

		@media (aspect-ratio: 4/3) {
			padding-top: 5vh;
		}
	}

	&.right {
		align-items: flex-end;
		width: 30vh;
	}
}

.chevron-boxes {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	margin: 6vh 7vh 0 0;
	position: relative;
}

sg-dialing-status {
	bottom: 0;
	left: 5vh;
	position: absolute;
	right: 5vh;
}

.footer {
	align-items: flex-end;
	display: flex;
	flex-grow: 1;
	gap: 2vh;
	letter-spacing: 4px;
	width: 100%;
}

.info {
	color: var(--white-color);
	display: flex;
	flex-direction: column;
	font-family: var(--interface-font);
	line-height: 85%;
	text-transform: uppercase;

	.label {
		color: var(--secondary-color);
	}
}

sg-gate {
	height: 69vh;
	top: 4vh;
	width: 67vh;
}

.auth-code {
	font-style: italic;

	sg-segment-display {
		font-size: 1.25em;
	}

	.label {
		color: var(--secondary-color);
		font-family: var(--interface-font);
		font-size: 1rem;
		font-variant: small-caps;
		line-height: 0.625;
		text-transform: uppercase;
	}
}
