<svg class="chevron-paths" viewBox="0 0 1125 844">
	<path class="chevron-7" d="M 527 125 V 75 H 870 L 900 95 H 1060 L 1075 110 V 730 H 1040" />
	<path class="chevron-6" d="M 354 175 L 334 150 V 100 L 375 65 H 875 L 905 85 H 1065 L 1085 105 V 635 H 1040" />
	<path class="chevron-5" d="M 255 332 H 235 V 135 L 324 55 H 880 L 910 75 H 1070 L 1095 100 V 540 H 1040" />
	<path class="chevron-4" d="M 290 517 H 220 V 90 L 273 45 H 885 L 915 65 H 1075 L 1105 95 V 445 H 1040" />
	<path class="chevron-1" d="M 700 175 L 720 150 H 800 L 880 160 H 950" />
	<path class="chevron-2" d="M 799 332 H 819 L 880 255 H 950" />
	<path class="chevron-3" d="M 764 517 H 789 L 880 350 H 950" />
</svg>
<div class="header">
	<sg-menu-button class="action-menu" position="lower-right" text="MENU" [menuWidth]="17.77">
		<sg-button text="Address Book" [disabled]="!canOpenAddressBook" (sgClick)="goToAddressBook()"></sg-button>
		<sg-button text="Keyboard" (sgClick)="openKeyboard()"></sg-button>
		<sg-button text="Shutdown" [disabled]="!canShutdown" (sgClick)="shutdown()"></sg-button>
		<sg-button text="Fullscreen On/Off" *ngIf="isElectronApp" (sgClick)="toggleFullscreen()"></sg-button>
		<sg-button text="Quit" *ngIf="isElectronApp" (sgClick)="quit()"></sg-button>
	</sg-menu-button>
	<div class="destination">
		<sg-segment-display
			[align]="'right'"
			[border]="'top'"
			[size]="10"
			[text]="(destination$ | async)?.name"
		></sg-segment-display>
		<div class="label">Destination</div>
	</div>
</div>
<div class="column-layout">
	<div class="left column">
		<div class="scrolling-bits-container">
			<sg-scrolling-bits [enabled]="this.status !== 'IDLE'" [length]="518"></sg-scrolling-bits>
		</div>
		<div class="scrolling-bits-container">
			<sg-scrolling-bits [enabled]="this.status !== 'IDLE'" [length]="518"></sg-scrolling-bits>
		</div>
		<div class="chevron-status-container"><sg-chevron-status></sg-chevron-status></div>
	</div>
	<div class="center column">
		<sg-gate></sg-gate>
		<sg-dialing-status></sg-dialing-status>
	</div>
	<div class="right column">
		<div class="chevron-boxes">
			<sg-chevron-box
				*ngFor="let number of [1, 2, 3, 4, 5, 6, 7]"
				[gatePosition]="gatePosition$"
				[number]="number"
			></sg-chevron-box>
		</div>
	</div>
</div>
<div class="footer">
	<div class="auth-code">
		<div class="label">Auth Code</div>
		<sg-segment-display [text]="authCode" [border]="'bottom'"></sg-segment-display>
	</div>
	<div class="info">
		<div class="field">
			<span class="label">User:</span>
			{{ user }}
		</div>
		<div class="field">
			<span class="label">Status:</span>
			Active
		</div>
		<div class="field">
			<span class="label">Sys:</span>
			Nominal
		</div>
	</div>
</div>
<sg-keyboard class="minimized" (dialAddress)="keyboardStartDialingHandler($event)"></sg-keyboard>
