:host {
	align-items: center;
	aspect-ratio: 4 / 3;
	border: 0.6vh solid var(--primary-color);
	border-bottom-right-radius: 3vh;
	border-top-left-radius: 3vh;
	box-sizing: border-box;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-height: 100%;
	padding: 1.18vh;
}

.header {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	width: 100%;

	.destination {
		align-items: flex-end;
		display: flex;
		flex-direction: column;

		sg-segment-display {
			text-transform: uppercase;
		}
	}
}

.action-menu {
	sg-button {
		width: 80%;
	}
}

.column-layout {
	align-items: stretch;
	display: flex;
	flex-grow: 10;
	justify-content: space-between;
	width: 100%;
}

.column {
	align-items: center;
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;

	&.left {
		align-items: flex-start;
		border: 0.35vh solid var(--primary-color);
		border-bottom-right-radius: 0.6vh;
		border-left: none;
		border-top-right-radius: 0.6vh;
		flex-grow: 1;
		max-width: 10%;
		min-width: 17.77vh;
		padding: 0.6vh;

		.scrolling-bits-container {
			border: 0.1vh solid var(--secondary-color);
			border-top-right-radius: 0.6vh;
			height: 41.4vh;
			padding: 0.6vh;
			width: 90%;
		}

		.chevron-status-container {
			width: 100%;
		}
	}

	&.center {
		align-items: center;
		flex-grow: 1;
		justify-content: flex-start;
		position: relative;

		@media (aspect-ratio: 4/3) {
			padding-top: 5vh;
		}
	}

	&.right {
		align-items: flex-end;
		width: 30vh;
	}
}

.chevron-boxes {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	margin: 6vh 6vh 0 0;
	position: relative;
}

sg-dialing-status {
	bottom: 0;
	left: 10vh;
	position: absolute;
	right: 10vh;
}

.label {
	color: var(--white-color);
	font-family: var(--interface-font);
	font-size: 0.75rem;
	font-variant: small-caps;
}

.footer {
	align-items: flex-end;
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;
	width: 100%;
}

.info {
	display: flex;
	flex-direction: column;
}

sg-gate {
	height: 60vh;
	top: 4vh;
	width: 60vh;
}
