:host {
	align-items: center;
	border: 5px solid var(--primary-color);
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
	box-sizing: border-box;
	flex-direction: column;
	display: flex;
	height: 100%;
	justify-content: space-between;
	min-height: 768px;
	min-width: 1024px;
	padding: 10px;
}

.header {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	width: 100%;

	.destination {
		align-items: flex-end;
		display: flex;
		flex-direction: column;

		sg-segment-display {
			text-transform: uppercase;
		}
	}
}

.column-layout {
	align-items: stretch;
	display: flex;
	flex-grow: 10;
	justify-content: space-between;
	width: 100%;
}

.column {
	align-items: center;
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;

	&.left {
		align-items: flex-start;
		border: 3px solid var(--primary-color);
		border-bottom-right-radius: 5px;
		border-left: none;
		border-top-right-radius: 5px;
		flex-grow: 1;
		max-width: 10%;
		min-width: 150px;
		padding: 5px;

		.scrolling-bits-container {
			border: 1px solid var(--secondary-color);
			border-top-right-radius: 5px;
			height: 350px;
			padding: 5px;
			width: 90%;
		}

		.chevron-status-container {
			width: 100%;
		}
	}

	&.center {
		align-items: center;
		flex-grow: 1;
		justify-content: flex-start;
		max-width: 40%;
		min-width: 450px;
		position: relative;

		@media (aspect-ratio: 4/3) {
			padding-top: 5vh;
		}
	}

	&.right {
		align-items: flex-end;
		width: 150px;
	}
}

.chevron-boxes {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	width: 100%;
}

sg-dialing-status {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.label {
	color: var(--white-color);
	font-family: var(--interface-font);
	font-size: 0.75rem;
	font-variant: small-caps;
}

.footer {
	align-items: flex-end;
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;
	width: 100%;
}

.info {
	display: flex;
	flex-direction: column;
}
