@import "variables";

:host {
	border-top: 2px solid $primary;
	color: $white;
	display: flex;
	margin-bottom: 10px;

	&.selected {
		border-color: $green;

		address-glyph-display {
			border-color: $green;

			.name {
				border-color: $green;
			}
		}
	}

	* {
		pointer-events: none;
	}
}

.glyphs {
	border-bottom: 2px solid $primary;
	border-left: 2px solid $primary;
	border-top: 2px solid $primary;
	display: flex;
}

.details {
	padding: 5px;

	.name {
		font-size: 24px;
		letter-spacing: 5px;
		line-height: 1em;
		text-transform: uppercase;
	}
}
