<div class="glyphs" (click)="onEditGlyphs()">
	<sg-address-glyph-display *ngFor="let glyph of destination.address" [glyph]="glyph"></sg-address-glyph-display>
</div>
<div class="details">
	<sg-address-field
		class="name"
		[editable]="editable"
		(saveValue)="onUpdateField('name', $event)"
		tabindex="{{ editable ? 0 : -1 }}"
		validation="^[A-Z].*$"
		[value]="destination.name"
	></sg-address-field>
	<div class="fields">
		<sg-address-field
			class="set field"
			[editable]="editable"
			label="Set"
			(saveValue)="onUpdateField('set', $event)"
			tabindex="{{ editable ? 1 : -1 }}"
			[validation]="setsRegex"
			[value]="destination.set"
		></sg-address-field>
		<sg-address-field
			class="desc field"
			[editable]="editable"
			label="Desc"
			(saveValue)="onUpdateField('desc', $event)"
			tabindex="{{ editable ? 2 : -1 }}"
			[value]="destination.desc"
		></sg-address-field>
	</div>
</div>
<div *ngIf="editable" class="edit-controls">
	<sg-button text="CANCEL" (click)="onCancelEdit()"></sg-button>
	<sg-button text="CONFIRM" (click)="onConfirmEdit()"></sg-button>
</div>
<sg-glyph-entry
	class="minimized"
	[validatorFn]="addressValidatorFn"
	(dialAddress)="onUpdateField('address', $event)"
></sg-glyph-entry>
