:host {
	border-top: 0.24vh solid var(--primary-color);
	color: var(--secondary-color);
	cursor: pointer;
	display: flex;
	margin-bottom: 1.18vh;
	--address-selected-color: var(--green-color);

	&.edit {
		--address-selected-color: var(--white-color);
		cursor: default;

		.glyphs {
			cursor: cell;
		}
	}

	&.delete {
		--address-selected-color: var(--red-color);
	}

	&.selected {
		border: 0.24vh solid var(--address-selected-color);
		border-left-width: 0;

		.glyphs {
			border-color: var(--address-selected-color);
		}

		sg-address-glyph-display {
			border-color: var(--address-selected-color);

			.name {
				border-color: var(--address-selected-color);
			}
		}
	}

	&.has-changes {
		.edit-controls {
			align-self: flex-end;
			display: block;
			margin-left: auto;
		}
	}
}

.glyphs {
	border-bottom: 0.24vh solid var(--primary-color);
	border-left: 0.24vh solid var(--primary-color);
	border-top: 0.24vh solid var(--primary-color);
	display: flex;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.59vh;

	.name {
		font-size: 2.15vh;
		letter-spacing: 0.59vh;
		line-height: 1em;
		text-transform: uppercase;
	}

	.field {
		font-size: smaller;
		line-height: 1em;
	}
}

.edit-controls {
	display: none;
}

sg-glyph-entry {
	z-index: 10;
}
