/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "sg1-glyphs";
	src: url("assets/fonts/sg1-glyphs.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "squarish-sans";
	src: url("assets/fonts/squarish-sans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--glyphs-font: "sg1-glyphs";
	--interface-font: "squarish-sans";
	--black-color: #000000;
	--darkred-color: #800000;
	--gray-color: #808080;
	--green-color: green;
	--primary-color: #3a7abd;
	--secondary-color: #0e3d68;
	--red-color: #ff0000;
	--white-color: #ffffff;
	--highlight-color: #add8e6;
}

body {
	background-color: var(--black-color);
	margin: 0;
	user-select: none;
}

body,
html {
	height: 100%;
	overflow: hidden;
}

@media (min-height: 960px) {
	body {
		zoom: 1.25;
	}
}

@media (min-height: 1160px) {
	body {
		zoom: 1.5;
	}
}
