@import "variables";

:host {
	max-height: 68vh;
	max-width: 68vh;
	position: relative;
	width: 100%;
}

sg-event-horizon {
	left: 50%;
	position: absolute;
	top: 50%;
}

svg {
	.base {
		fill: transparent;
		stroke: $primary;
	}

	.ring {
		fill: transparent;
		stroke: $white;
	}

	.chevron-head {
		fill: $black;
		stroke: $white;
	}

	.chevron-tail {
		fill: $black;
		stroke: $white;
	}

	[ng-reflect-chevron="8"],
	[ng-reflect-chevron="9"] {
		.chevron-head,
		.chevron-tail {
			opacity: 0.25;
		}
	}
}
