:host {
	position: relative;
}

sg-event-horizon {
	left: 50%;
	position: absolute;
	top: 50%;
}

svg {
	.base {
		fill: transparent;
		stroke: var(--primary-color);
	}

	.ring {
		fill: transparent;
		stroke: var(--white-color);
	}

	.chevron-head {
		fill: var(--black-color);
		stroke: var(--white-color);
	}

	.chevron-tail {
		fill: var(--black-color);
		stroke: var(--white-color);
	}

	[ng-reflect-chevron="8"],
	[ng-reflect-chevron="9"] {
		.chevron-head,
		.chevron-tail {
			opacity: 0.25;
		}
	}
}
