:host {
	position: relative;
}

sg-event-horizon {
	left: 50%;
	position: absolute;
	top: 50%;
}

svg {
	--chevron-stroke-color: #d1d59e;
	--chevron-fill-color: #000000;

	.base {
		fill: transparent;
		stroke: var(--primary-color);
	}

	.ring {
		fill: transparent;
		stroke: var(--secondary-color);
	}

	.chevron-head {
		fill: var(--chevron-fill-color);
		stroke: var(--chevron-stroke-color);
	}

	.chevron-tail {
		fill: var(--black-color);
		stroke: var(--chevron-stroke-color);
	}

	[ng-reflect-chevron="8"],
	[ng-reflect-chevron="9"] {
		.chevron-head,
		.chevron-tail {
			stroke: var(--primary-color);
		}
	}

	.bars {
		stroke: var(--secondary-color);
		stroke-width: 0.8vh;
	}
}
