:host {
	aspect-ratio: 4 / 3;
	border: 0.59vh solid var(--primary-color);
	border-bottom-right-radius: 2.96vh;
	border-top-left-radius: 2.96vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-family: var(--interface-font);
	margin: 0 auto;
	max-height: 100%;
	overflow-y: hidden;
	padding: 1.18vh;
}

.top-row {
	border-bottom: 0.35vh solid var(--primary-color);
	color: var(--primary-color);
	font-size: 2.13vh;
	margin-left: 1.18vh;
	margin-right: 1.18vh;
	text-transform: uppercase;

	.title,
	.separator {
		font-size: 1.4em;
	}

	.subtitle {
		color: var(--white-color);
		font-size: 1.2em;
	}

	.status {
		color: var(--white-color);
	}

	.separator {
		margin-left: 1.18vh;
		margin-right: 1.18vh;
	}
}

.headings-row {
	color: var(--primary-color);
	display: flex;
	font-size: 2.37vh;
	margin-left: 1.18vh;
	text-transform: uppercase;

	.heading {
		margin-left: 0.24vh;
		text-align: center;
		width: 10vh;

		&.details {
			margin-left: 0.83vh;
		}
	}
}

.scroll-pane {
	display: flex;
	justify-content: space-between;
	padding: 0 1.18vh;
}

.scroll-controls {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.scroll-button {
	align-items: center;
	border: 0.12vh solid var(--primary-color);
	color: var(--white-color);
	cursor: pointer;
	display: flex;
	font-size: 2.84vh;
	height: 1.2em;
	justify-content: center;
	user-select: none;
	width: 1.2em;

	&.down {
		transform: rotateZ(90deg);
	}

	&.up {
		transform: rotateZ(-90deg);
	}

	&.disabled {
		visibility: hidden;
	}
}

.addresses {
	flex-grow: 1;
}

.selector {
	border: 0.35vh solid var(--green-color);
	height: 10vh;
	opacity: 0;
	pointer-events: none;
	position: absolute;

	&.edit {
		border-color: var(--white-color);
	}

	&.delete {
		border-color: var(--red-color);
	}
}

.footer {
	display: flex;

	> * {
		flex: 1 0 0;
	}
}
