<div class="header">
	<div class="top-row">
		<span class="title">System Glyphs</span>
		<span class="separator">/</span>
		<span class="subtitle">File Archive</span>
		<span class="separator">/</span>
		<span class="status">Display: Complete</span>
	</div>
	<div class="headings-row">
		<div class="glyph heading" *ngFor="let i of glyphHeadings">{{ i }}</div>
		<div class="details heading">Profile</div>
	</div>
</div>
<div class="scroll-pane">
	<div class="addresses">
		<div #selector class="selector"></div>
		<address-row
			*ngFor="let destination of destinations | slice: topItem : bottomItem"
			[destination]="destination"
			(mouseenter)="moveSelector($event.target)"
		></address-row>
	</div>
	<div class="scroll-controls">
		<div class="scroll-button up" (click)="scrollUp()">&#8227;</div>
		<div class="scroll-button down" (click)="scrollDown()">&#8227;</div>
	</div>
</div>
<div class="footer">
	<sg-button text="RETURN" (click)="goToGateScreen()"></sg-button>
</div>
