<div class="header">
	<div class="top-row">
		<span class="title">System Glyphs</span>
		<span class="separator">/</span>
		<span class="subtitle">File Archive</span>
		<span class="separator">/</span>
		<span class="status">Display: Complete</span>
	</div>
	<div class="headings-row">
		<div class="glyph heading" *ngFor="let i of glyphHeadings">{{ i }}</div>
		<div class="details heading">Profile</div>
	</div>
</div>
<div class="scroll-pane">
	<div class="addresses">
		<div #selector class="selector {{ mode.toLowerCase() }}"></div>
		<sg-address-row
			*ngFor="let destination of (destinations | slice: topItem:bottomItem); let i = index"
			class="{{ mode.toLowerCase() }}"
			[destination]="destination"
			[editable]="mode === 'EDIT'"
			[selected]="selectedIndex === i"
			(mouseenter)="moveSelector($event.target)"
			(click)="onDestinationClick(destination)"
			(save)="onSave($event)"
			(cancelEdit)="onCancelEdit()"
		></sg-address-row>
	</div>
	<div class="scroll-controls">
		<div class="scroll-button up" [ngClass]="{ disabled: !canScrollUp }" (click)="scrollUp()">&#8227;</div>
		<div class="scroll-button down" [ngClass]="{ disabled: !canScrollDown }" (click)="scrollDown()">&#8227;</div>
	</div>
</div>
<div class="footer">
	<sg-button text="RETURN" (click)="goToGateScreen()"></sg-button>
	<sg-button text="ADD"></sg-button>
	<sg-menu-button position="upper-left" text="SOURCES">
		<sg-address-sets-list></sg-address-sets-list>
	</sg-menu-button>
	<sg-button text="MODE: {{ mode }}" (click)="cycleMode()"></sg-button>
</div>
